###> PhpStorm ###
/.idea
###< PhpStorm ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> apache-log-files ###
/public/error.log
/public/access.log
###< apache-log-files ###

###> parsing files ###
/files/*
###< parsing files ###